@import "vars";
@import "mixins";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6, ul {
  margin: 0;
  padding: 0;
  color: $black;
}

h1 {

}

h2 {

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {

}

span {

}

.container {
  margin: 0 auto;
  width: 70%;
}


