$red: #ED5564;
$red-dark: #BA434F;
$white: #FFF;
$blue: #336CFB;
$blue-soft: #4D7FFF;
$blue-dark: #2855C7;
$black: #212529;
$gray: #BDBDBD;
$gray-light: #fbfbfb;
$gray-dark: #6C757D;
$gray-soft: #EBEBEB;
$sidebar-width: 270px;

$transition-links: 0.3s ease;
$transition: all 0.3s ease-in-out;
